.axis path,
.axis line { 
	fill: none;
	stroke: #DBDBDC;
	shape-rendering: crispEdges;
}
/* labels */
.axis text {
	font-family: sans-serif;
	font-size: 11px;
	color: 	#B9B9B9;
}

.tooltip {
	position: fixed;
    display: none;
    font-size: 13px;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 12px;
    opacity: 0.9;
  }

  body {
	background-color: #000000;
	font-family: 'Roboto', sans-serif;
  }
  